body {
  background-color: #fff;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  line-height: 1.85714286em;
  letter-spacing: 1px;
  color: #777;
  font-weight: 300; }

h1,
h2,
h3,
h4,
h5,
h6,
p,
li {
  cursor: pointer; }

h2 {
  font-size: 28px;
  font-weight: 400;
  line-height: 1.4;
  letter-spacing: -0.04em; }

.bg-grey {
  background-color: #f7f7f7; }

.bg-green {
  background-color: #25d25e; }

a {
  cursor: pointer;
  text-decoration: none;
  color: #333;
  transition: all 0.2s linear; }
  a:visited {
    text-decoration: none;
    outline: 0; }

ul {
  list-style: none;
  margin: 0;
  padding: 0; }

.header-top {
  background-color: #111;
  display: block;
  padding: 15px 0;
  color: #ddd; }
  .header-top .header-top-left {
    font-size: 13px;
    position: relative;
    padding-left: 33px; }
    .header-top .header-top-left i {
      font-size: 18px;
      position: absolute;
      left: 0;
      top: 6px; }
  .header-top .header-top-right ul li {
    display: inline-block;
    margin-left: 15px; }
    .header-top .header-top-right ul li a {
      display: inline-block;
      font-size: 13px;
      color: #ddd;
      position: relative;
      padding-left: 33px;
      text-decoration: none; }
      .header-top .header-top-right ul li a i {
        font-size: 18px;
        position: absolute;
        left: 0;
        top: 6px; }

.mid-header {
  display: block;
  padding: 20px 0; }
  .mid-header .brand-logo {
    background-image: url(../img/logo-dark.png);
    background-position: 208px 36px;
    height: 36px;
    display: block;
    width: 208px;
    text-indent: -999px; }
  .mid-header .contact-info li {
    display: inline-block;
    margin-left: 15px; }
    .mid-header .contact-info li a {
      border: 1px solid #ddd;
      display: inline-block;
      position: relative;
      padding: 0 15px;
      height: 40px;
      line-height: 38px;
      padding-left: 50px;
      font-size: 12px;
      color: #666;
      border-radius: 2px;
      text-transform: uppercase; }
      .mid-header .contact-info li a i {
        width: 40px;
        height: 40px;
        line-height: 40px;
        color: #25d25e;
        font-size: 16px;
        border-right: 1px solid #ddd;
        text-align: center;
        display: block;
        position: absolute;
        left: 0;
        top: 0; }

.header-bottom {
  display: block;
  background-color: #25d25e;
  height: 60px; }
  .header-bottom .menu-wrap {
    display: inline-block;
    height: 60px;
    width: 100%;
    z-index: 99; }
  .header-bottom .pos-relative {
    position: relative; }
    .header-bottom .pos-relative .main-menu {
      margin: 0;
      padding: 0;
      width: 100%;
      list-style: none;
      display: inline-block;
      position: static;
      font-family: Open Sans, Arial;
      font-size: 14px; }
      .header-bottom .pos-relative .main-menu li.active {
        background: #31ee70; }
      .header-bottom .pos-relative .main-menu li {
        float: left;
        display: inline; }
        .header-bottom .pos-relative .main-menu li a {
          float: left;
          padding: 17px 25px 17px 25px;
          color: #fff;
          font-size: 12px;
          font-weight: 600;
          text-transform: uppercase;
          border-right: 1px solid #31ee70;
          text-decoration: none;
          transition: color 0.4s ease-in-out; }
          .header-bottom .pos-relative .main-menu li a:hover {
            background-color: #31ee70; }
    .header-bottom .pos-relative .header-search-form {
      position: absolute;
      right: 0;
      top: 10px; }
      .header-bottom .pos-relative .header-search-form form input[type=text] {
        display: block;
        border: 1px solid rgba(255, 255, 255, 0.6);
        background-color: transparent;
        padding: 0 15px;
        width: 230px;
        height: 40px;
        line-height: 38px;
        padding-right: 50px;
        font-size: 13px;
        color: #fff;
        border-radius: 2px; }
        .header-bottom .pos-relative .header-search-form form input[type=text]:hover {
          border: 1px solid rgba(255, 255, 255, 0.9); }
      .header-bottom .pos-relative .header-search-form form button {
        background-color: transparent;
        border: none;
        border-left: 1px solid rgba(255, 255, 255, 0.6);
        position: absolute;
        right: 0;
        top: 0;
        height: 100%;
        width: 40px;
        color: #fff; }

.promo-section .ptb-100 {
  padding-top: 100px;
  padding-bottom: 100px; }
.promo-section .promo-items {
  padding: 50px; }
  .promo-section .promo-items .promo-item {
    position: relative;
    display: block;
    padding-left: 80px; }
    .promo-section .promo-items .promo-item:hover i {
      background-color: #25d25e;
      color: #ffffff; }
    .promo-section .promo-items .promo-item i {
      border: 1px solid #ddd;
      width: 60px;
      height: 60px;
      font-size: 24px;
      color: #25d25e;
      position: absolute;
      left: 0;
      top: 0;
      display: block;
      text-align: center;
      line-height: 58px; }
    .promo-section .promo-items .promo-item h4 {
      font-size: 18px;
      font-weight: 400;
      letter-spacing: -0.04em; }
    .promo-section .promo-items .promo-item p {
      font-size: 13px; }

.testimonial-section {
  padding-top: 50px;
  padding: 50px; }
  .testimonial-section.bg-grey {
    background-color: #f7f7f7; }
  .testimonial-section.bd-top-grey {
    border-top: 1px solid #eaeaea; }
  .testimonial-section .testimonial {
    padding: 100px; }
    .testimonial-section .testimonial p {
      font-size: 20px;
      line-height: 28px;
      font-weight: 300;
      color: #fff;
      margin-bottom: 30px; }
    .testimonial-section .testimonial h4 {
      color: #fff;
      font-size: 16px;
      font-weight: 700; }

.pricing-section {
  padding-top: 100px;
  padding-bottom: 100px; }
  .pricing-section .heading {
    margin-top: 50px; }
    .pricing-section .heading h2 {
      display: block;
      margin-bottom: 20px;
      padding-bottom: 20px;
      position: relative; }
      .pricing-section .heading h2::before {
        content: '';
        background-color: #25d25e;
        width: 80px;
        height: 2px;
        position: absolute;
        left: 45%;
        bottom: 0%; }
  .pricing-section .row .pricing-table {
    border: 1px solid grey;
    border-top: 30px solid #25d25e;
    padding: 20px; }
    .pricing-section .row .pricing-table .pricing-head {
      padding: 10px 0 20px;
      border-bottom: 1px solid #ddd;
      margin-bottom: 25px; }
      .pricing-section .row .pricing-table .pricing-head h3 {
        font-size: 18px;
        font-weight: 700;
        text-transform: uppercase;
        color: #777;
        position: relative;
        padding-bottom: 5px; }
        .pricing-section .row .pricing-table .pricing-head h3 ::before {
          content: '';
          background-color: #25d25e;
          width: 90px;
          height: 2px;
          position: absolute;
          left: 0%;
          bottom: 0%; }
        .pricing-section .row .pricing-table .pricing-head h3 span {
          font-size: 12px;
          font-weight: 400; }
      .pricing-section .row .pricing-table .pricing-head h5 {
        color: #25d25e;
        font-size: 32px;
        font-weight: 800;
        margin: 0; }
        .pricing-section .row .pricing-table .pricing-head h5 span {
          font-size: 12px;
          font-weight: 400;
          color: #777; }
    .pricing-section .row .pricing-table .check-list {
      display: inline-block; }
      .pricing-section .row .pricing-table .check-list li {
        border-bottom: 1px solid #ddd;
        padding-bottom: 10px;
        margin-bottom: 10px;
        display: block;
        font-size: 16px;
        font-weight: 600;
        padding-left: 30px;
        position: relative; }
        .pricing-section .row .pricing-table .check-list li::before {
          content: "\f00c";
          color: #25d25e;
          width: 50px;
          height: 50px;
          line-height: 50px;
          position: absolute;
          left: 0%;
          bottom: 0%;
          font-family: 'FontAwesome'; }
      .pricing-section .row .pricing-table .check-list li.disable {
        color: #bbbbbb; }
        .pricing-section .row .pricing-table .check-list li.disable::before {
          content: "\f00d";
          color: #ff1a30;
          width: 50px;
          height: 50px;
          line-height: 50px;
          position: absolute;
          left: 0%;
          bottom: 0%;
          font-family: 'FontAwesome'; }
    .pricing-section .row .pricing-table .pricing-footer {
      padding-bottom: 30px;
      margin-top: 10px; }
      .pricing-section .row .pricing-table .pricing-footer .ct-btn {
        padding: 10px 20px; }
      .pricing-section .row .pricing-table .pricing-footer a {
        text-decoration: none;
        background-color: #25d25e;
        display: inline-block;
        font-size: 13px;
        font-weight: 700;
        color: #fff; }
        .pricing-section .row .pricing-table .pricing-footer a:hover {
          background-color: #32ea6e;
          color: #fff;
          text-decoration: none;
          transform: translateY(-3px);
          transition: all 0.2s linear; }

.blog-section {
  padding-top: 100px;
  padding-bottom: 100px; }
  .blog-section .heading {
    margin-top: 50px; }
    .blog-section .heading h2 {
      display: block;
      margin-bottom: 20px;
      padding-bottom: 20px;
      position: relative; }
      .blog-section .heading h2::before {
        content: '';
        background-color: #25d25e;
        width: 80px;
        height: 2px;
        position: absolute;
        left: 45%;
        bottom: 0%; }
  .blog-section .blog-item figure {
    position: relative; }
    .blog-section .blog-item figure:hover {
      opacity: 0.6;
      transition: all linear 1s; }
    .blog-section .blog-item figure .full-img {
      width: 100%; }
    .blog-section .blog-item figure .date {
      background-color: #25d25e;
      display: block;
      color: #fff;
      font-size: 12px;
      font-weight: 700;
      width: 60px;
      height: 90px;
      text-align: center;
      position: absolute;
      left: 0;
      bottom: -20px; }
      .blog-section .blog-item figure .date span {
        display: block;
        height: 45px;
        line-height: 44px; }
        .blog-section .blog-item figure .date span::before {
          content: '';
          background-color: #ffffff;
          width: 100%;
          height: 2px;
          position: absolute;
          left: 0%;
          bottom: 50%; }
  .blog-section .blog-item .blog-content {
    padding: 20px 0; }
    .blog-section .blog-item .blog-content h4 {
      font-size: 18px;
      font-weight: 400;
      letter-spacing: -0.04em; }
      .blog-section .blog-item .blog-content h4 a {
        text-transform: uppercase;
        font-weight: 400;
        color: #333;
        letter-spacing: -1px; }
      .blog-section .blog-item .blog-content h4 p {
        font-size: 13px; }

.footer_slider .slider_2 {
  padding-top: 60px;
  padding-bottom: 60px;
  border-top: 1px solid #eaeaea; }
  .footer_slider .slider_2 .owl-item {
    opacity: 0.3; }
    .footer_slider .slider_2 .owl-item:hover {
      opacity: 1; }
  .footer_slider .slider_2 .owl-item.active.center {
    opacity: 1; }
.footer_slider img {
  width: 100%; }

.contact {
  padding-top: 60px;
  margin-bottom: -50px; }
  .contact .offset-md-1 {
    margin-left: 8.33%; }
  .contact .contact-info {
    background-color: #25d25e;
    padding: 30px;
    text-align: center;
    border-right: 1px solid #fff; }
    .contact .contact-info i {
      display: inline-block;
      font-size: 18px;
      color: #fff;
      margin-right: 8px; }
    .contact .contact-info a {
      display: inline-block;
      font-size: 15px;
      color: #fff;
      line-height: 15px; }

.footer_bg_black {
  background-color: #111; }
  .footer_bg_black .footer {
    padding-top: 100px;
    padding-bottom: 100px; }
    .footer_bg_black .footer .content {
      color: #bbbbbb; }
      .footer_bg_black .footer .content p {
        margin-top: 20px; }
      .footer_bg_black .footer .content h2 {
        color: #fff;
        font-size: 18px;
        font-weight: 700;
        position: relative;
        margin: 0 0 20px;
        padding-bottom: 12px; }
        .footer_bg_black .footer .content h2::before {
          content: '';
          background-color: #25d25e;
          width: 85px;
          height: 2px;
          position: absolute;
          left: 0%;
          bottom: 0%; }
      .footer_bg_black .footer .content ul li {
        float: left;
        width: 50%;
        margin-bottom: 15px;
        padding-left: 20px;
        position: relative;
        color: #ddd; }
        .footer_bg_black .footer .content ul li:hover {
          color: #fff;
          transition: all 0.2s linear;
          font-weight: 900; }
        .footer_bg_black .footer .content ul li::before {
          font-family: 'FontAwesome';
          content: '\f105';
          font-size: 20px;
          color: #bbbbbb;
          position: absolute;
          left: 0;
          top: 0; }
      .footer_bg_black .footer .content h4 {
        font-size: 14px;
        font-weight: 400;
        color: #fff;
        line-height: 24px;
        margin: 0 0 20px; }
      .footer_bg_black .footer .content input {
        display: block;
        padding: 15px 20px;
        width: 100%; }
      .footer_bg_black .footer .content .col-4 .sb_btn {
        padding: 17px 0;
        text-decoration: none;
        background-color: #25d25e;
        display: inline-block;
        font-size: 13px;
        font-weight: 700;
        color: #fff;
        width: 95%;
        text-align: center;
        border-radius: 10%; }
        .footer_bg_black .footer .content .col-4 .sb_btn:hover {
          background-color: #32ea6e;
          color: #fff;
          text-decoration: none;
          transform: translateY(-3px);
          transition: all 0.2s linear; }
  .footer_bg_black .end {
    border-top: 1px solid rgba(128, 128, 128, 0.66);
    padding: 40px 0;
    color: #ddd; }

.accord {
  padding-top: 100px;
  padding-bottom: 100px; }
  .accord .left .heading {
    padding-bottom: 10px; }
    .accord .left .heading h2 {
      color: rgba(16, 15, 15, 0.86);
      font-size: 28px;
      font-weight: 400;
      position: relative;
      font-family: 'Open Sans', sans-serif;
      margin: 0 0 20px;
      padding-bottom: 15px; }
      .accord .left .heading h2::before {
        content: "";
        position: absolute;
        width: 85px;
        height: 2px;
        background-color: #25d25e;
        font-family: 'FontAwesome';
        bottom: 0;
        left: 0; }
  .accord .left .card {
    border: none; }
    .accord .left .card .card-header {
      background-color: #fff; }
    .accord .left .card .card-body {
      margin-left: 19px; }
    .accord .left .card a {
      text-decoration: none;
      position: relative;
      font-size: 13px;
      display: block;
      color: #333333;
      padding: 10px 0px; }
      .accord .left .card a::after {
        font-family: 'FontAwesome';
        content: '\f067';
        font-size: 20px;
        color: #bbbbbb;
        position: absolute;
        right: 0;
        top: 20%; }

.page-heading {
  padding-top: 50px;
  padding-bottom: 50px; }
  .page-heading .brd {
    border: 1px solid #25d25e; }
  .page-heading .inner {
    padding: 25px; }
    .page-heading .inner h2 {
      font-size: 28px;
      font-weight: 400;
      line-height: 1.4;
      letter-spacing: -0.04em;
      color: black; }
    .page-heading .inner p {
      color: #777777; }
  .page-heading .lists {
    padding: 25px; }
    .page-heading .lists li {
      display: inline-block;
      margin-left: 5px;
      position: relative; }
      .page-heading .lists li::after {
        content: "";
        width: 2px;
        height: 22px;
        background-color: #ddd;
        position: absolute;
        top: 10%;
        right: -14%; }
      .page-heading .lists li a {
        color: black;
        text-decoration: none; }
        .page-heading .lists li a:hover {
          text-decoration: underline; }

/*# sourceMappingURL=style.css.map */
